<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright 2002-2011 the original author or authors, or Red-Black IT Ltd, as appropriate.
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  * you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  *      http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/integration
                           http://www.springframework.org/schema/integration/spring-integration.xsd">

    <int:channel id="dinings">
        <int:queue/>
    </int:channel>

    <int:chain input-channel="dinings" output-channel="confirmations">
        <int:filter
                expression="payload.amount != null and payload.creditCardNumber != null and payload.merchantNumber != null and payload.date != null"
                throw-exception-on-rejection="true"/>
        <int:service-activator ref="alreadyRewardedConfirmer"/>
        <int:service-activator ref="rewardNetwork" method="rewardAccountFor"/>
    </int:chain>

    <bean id="alreadyRewardedConfirmer" class="rewards.messaging.AlreadyRewardedConfirmer">
        <constructor-arg ref="rewardRepository"/>
        <constructor-arg ref="confirmationProcessor"/>
    </bean>

    <int:gateway service-interface="rewards.ConfirmationProcessor"
                 id="confirmationProcessor" default-request-channel="confirmations"/>

    <int:channel id="confirmations">
        <int:queue capacity="10"/>
    </int:channel>

    <int:logging-channel-adapter channel="errorChannel"
                                 expression="'filter rejected message with ' + payload.failedMessage.payload"
                                 level="WARN"/>
</beans>
